<li class="media comment">
  <div class="media-body">
    <strong><%= comment.player.alias %>:</strong> <%= comment.body %><br />
      <small class="text-muted">[at <%= comment.created_at.strftime('%-d %B %Y, %H:%M:%S') %>]</small>
  </div>
</li>