<%if @game.started? %>
	<% if @game.is_day? %>
		<% if player == current_player(@game) %>
			* You *
		<% else %>
			<% if !@votee or @votee.id != player.id %>
			<%= link_to "Vote", vote_path(votee_id:player.id), class:"btn-default btn vote", :remote => true  %>
			<% else %>
				<div class="center-block"><span class="glyphicon glyphicon-ok text-warning large"></span></div>
			<% end %>
		<% end %>
	<% else # if it's night %>
		<% unless current_player(@game).role == "villager" %>
		   <% move = MOVES[current_player(@game).role] %>
			<% if current_player(@game).try(:current_move).try(:target) == player %>
				<%= "#{move}ing tonight"%>
			<% else %>
			  <%= button_to move, move_path(move:move, target:player), class:"btn btn-#{move}" %>
			<% end %>
		<% end %>
	<% end %>
<% elsif @game.turn == 0 and player == current_player(@game) %>
		<button class="edit-alias btn-standard btn">change alias</button>
<% end %>