/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:700,400|Open+Sans:400,700);

$font-family-sans-serif:  "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif !default;

$brand-primary: #742809;
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;
$headings-font-family: 'Raleway', sans-serif;


@import "bootstrap-sprockets";
@import "bootstrap";


.player {
	padding: 5px;
}

.scrollable {
	height:400px;
	width:100%;
	overflow: auto;
}

.system-comment {
	color:red;
	font-weight:bold;
}

.private-comment {
	color: green;
	font-style:italic;
}

.self {
	background: #99ff99;
}